* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #121214;

    text-align: center;
}

header {
    margin-top: 7.2rem;
}

header h1 {
    background: linear-gradient(90deg, rgba(2,121,157,1) 0%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 5.6rem;
    font-weight: 900;
}

header h3 {
    font-size: 3.2rem;
    color: #E1E1E6;
}

.card {
    width: 36rem;
    background: #202024;

    border-radius: 8px;
    border: 1px solid #323238;

    margin: 60px 0;

    overflow: hidden;
}

.card img {
    width: 35.8rem;
}

.card h3 {
    font-size: 3.6rem;
    color: #E1E1E6;

    padding: 24px 0;
}

.card p {
    font-size: 1.8rem;
    color: #C4C4CC;

    padding: 0 2.2rem 3.8rem;
}

/* Responsive */

@media (min-width: 1280px) {
    body {
        text-align: start;

        display: grid;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 6rem;
    }

    .card h3 {
        padding: 2.4rem 2.2rem;
    }
}